.style{
    border: "5px solid purple "; 
     padding: "10px"; 
     margin: "10px";    
     border-radius: 5px solid purple;
        background-color: "lightblue";
        color: "black";
        font-size: "20px";
        font-family: "Arial";
        text-align: "center";
        width: "100px";
        height: "100px";
        display: "flex";
        justify-content: "center";
        align-items: "center";

    
    };
.styletow{
    border: "5px solid purple "; 
     padding: "10px"; 
     margin: "10px";    
     border-radius: 5px solid purple;
        background-color: "lightblue";
        color: "black";
        font-size: "20px";
        font-family: "Arial";
        text-align: "center";
        width: "100px";
        height: "100px";
        display: "flex";
        justify-content: "center";
        align-items: "center";

    
    };
